body {
  background-color: #F5F6CE;
  font-family: 'Questrial', sans-serif;
}
h1 {
  font-family: 'Metamorphous', cursive;
  font-size: 2rem;
}

.container {
  border: 1px solid red;
  width: 800px;
}


/* font-family: 'Metamorphous', cursive;
font-family: 'Uncial Antiqua', cursive; */
